.jumbotron {
  color: #61040f;
}

.h1 {
  color: #61040f;
}

.footer {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

.bloque div {
  margin-left: 0%;
}

.card-hotel {
  flex: 1 250px;
  padding-bottom: 0.5rem;
  margin: 5px 5px 0 0;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-icon {
  padding-right: 1rem;
}

.card-body p {
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
